<div class="md">{{#frost-tabs on-change=(action 'tabSelected') selection=selectedTab}}
	{{#frost-tab alias='Description' class='description' id='description'}}
		{{markdown-to-html ghCodeBlocks=true tables=true class="guide-markdown" markdown=(fr-markdown-file-strip-number-prefix 'ui-components/button-controls/button')}}
		{{#scroll-spy}}
			{{#scroll-to id="#basicprimarybutton" class="h3"}} Basic primary button{{/scroll-to}}
			{{#scroll-to id="#basicsecondarybutton" class="h3"}} Basic secondary button{{/scroll-to}}
			{{#scroll-to id="#specialbuttons" class="h3"}} Special buttons{{/scroll-to}}
		{{/scroll-spy}}
	{{/frost-tab}}
	{{#frost-tab alias='API' id='api'}}
		  {{markdown-to-html ghCodeBlocks=true tables=true class="guide-markdown" markdown=(fr-markdown-api-file 'ui-components/button-controls/button/README')}}
		{{#scroll-spy}}
			{{#scroll-to id="#installation" class="h2"}} Installation{{/scroll-to}}
			{{#scroll-to id="#api" class="h2"}} API{{/scroll-to}}
			{{#scroll-to id="#examples" class="h2"}} Examples{{/scroll-to}}
			{{#scroll-to id="#text" class="h3"}} Text{{/scroll-to}}
			{{#scroll-to id="#icon" class="h3"}} Icon{{/scroll-to}}
			{{#scroll-to id="#icontext" class="h3"}} Icon Text{{/scroll-to}}
			{{#scroll-to id="#info" class="h3"}} Info{{/scroll-to}}
			{{#scroll-to id="#design" class="h3"}} Design{{/scroll-to}}
		{{/scroll-spy}}
	{{/frost-tab}}
	{{#frost-tab alias='Demo' id='demo'}}
		<div><div class="dummy-body">
  <div class="dummy-content">
    <div class="dummy-notification-container">
  {{#each notifications as |notification|}}
      {{notification-message notification=notification}}
  {{/each}}
</div>

<h2>frost-button</h2>
{{#frost-checkbox
  checked=vertical
  on-input=(action "toggleVertical")
}}
  Vertical
{{/frost-checkbox}}

<br/>

<div class="section">
  <div class="example">
    <div class="title">Primary</div>
    <div class="code">
      {{format-markdown "```handlebars
{{frost-button
  on-click=(action 'click')
  priority='confirm'
  size='small'
  text='Action'
  vertical=vertical
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-button
        on-click=(action 'click')
        priority='confirm'
        size='small'
        text='Action'
        vertical=vertical
      }}
    </div>
  </div>

  <div class="example">
    <div class="title">Secondary</div>
    <div class="code">
      {{format-markdown "```handlebars
{{frost-button
  on-click=(action 'click')
  priority='normal'
  size='small'
  text='Action'
  vertical=vertical
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-button
        on-click=(action 'click')
        priority='normal'
        size='small'
        text='Action'
        vertical=vertical
      }}
    </div>
  </div>

  <div class="example">
    <div class="title">Tertiary</div>
    <div class="code">
      {{format-markdown "```handlebars
{{frost-button
  on-click=(action 'click')
  priority='cancel'
  size='small'
  text='Action'
  vertical=vertical
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-button
        on-click=(action 'click')
        priority='cancel'
        size='small'
        text='Action'
        vertical=vertical
      }}
    </div>
  </div>
</div>

<div class="section">
  <div class="example">
    <div class="title">Small</div>
    <div class="code">
      {{format-markdown "```handlebars
{{frost-button
  on-click=(action 'click')
  priority='primary'
  size='small'
  text='Action'
  vertical=vertical
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-button
        on-click=(action 'click')
        priority='primary'
        size='small'
        text='Action'
        vertical=vertical
      }}
    </div>
  </div>

  <div class="example">
    <div class="title">Medium</div>
    <div class="code">
      {{format-markdown "```handlebars
{{frost-button
  on-click=(action 'click')
  size='medium'
  priority='primary'
  text='Action'
  vertical=vertical
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-button
        on-click=(action 'click')
        priority='primary'
        size='medium'
        text='Action'
        vertical=vertical
      }}
    </div>
  </div>

  <div class="example">
    <div class="title">Large</div>
    <div class="code">
      {{format-markdown "```handlebars
{{frost-button
  on-click=(action 'click')
  priority='primary'
  size='large'
  text='Action'
  vertical=vertical
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-button
        on-click=(action 'click')
        size='large'
        priority='primary'
        text='Action'
        vertical=vertical
      }}
    </div>
  </div>
</div>

<div class="section">
  <div class="example">
    <div class="title">Icon Small</div>
    <div class="code">
      {{format-markdown "```handlebars
{{frost-button
  icon='frost/add'
  on-click=(action 'click')
  priority='primary'
  size='small'
  vertical=vertical
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-button
        icon='frost/add'
        on-click=(action 'click')
        priority='primary'
        size='small'
        vertical=vertical
      }}
    </div>
  </div>

  <div class="example">
    <div class="title">Icon Medium</div>
    <div class="code">
      {{format-markdown "```handlebars
{{frost-button
  icon='frost/add'
  on-click=(action 'click')
  priority='primary'
  size='medium'
  vertical=vertical
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-button
        icon='frost/add'
        on-click=(action 'click')
        priority='primary'
        size='medium'
        vertical=vertical
      }}
    </div>
  </div>

  <div class="example">
    <div class="title">Icon Large</div>
    <div class="code">
      {{format-markdown "```handlebars
{{frost-button
  icon='frost/add'
  on-click=(action 'click')
  priority='primary'
  size='large'
  vertical=vertical
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-button
        icon='frost/add'
        on-click=(action 'click')
        priority='primary'
        size='large'
        vertical=vertical
      }}
    </div>
  </div>
</div>

<div class="section">
  <div class="example">
    <div class="title">Disabled</div>
    <div class="code">
      {{format-markdown "```handlebars
{{frost-button
  disabled=true
  on-click=(action 'click')
  priority='primary'
  size='small'
  text='Action'
  vertical=vertical
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-button
        disabled=true
        on-click=(action 'click')
        priority='primary'
        size='small'
        text='Action'
        vertical=vertical
      }}
    </div>
  </div>

  <div class="example">
    <div class="title">Autofocus</div>
    <div class="code">
      {{format-markdown "```handlebars
{{frost-button
  autofocus=true
  on-click=(action 'click')
  priority='primary'
  size='small'
  text='Action'
  vertical=vertical
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-button
        autofocus=true
        on-click=(action 'click')
        priority='primary'
        size='small'
        text='Action'
        vertical=vertical
      }}
    </div>
  </div>

   <div class="example">
    <div class="title">Design - tab</div>
    <div class="code">
      {{format-markdown "```handlebars
{{frost-button
  autofocus=true
  on-click=(action 'click')
  design='tab'
  text='Design Tab'
  vertical=vertical
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-button
        autofocus=true
        on-click=(action 'click')
        design='tab'
        text='Design Tab'
        vertical=vertical
      }}
    </div>
  </div>


</div>

<div class="section">
  <div class="example">
    <div class="title">Icon and Info</div>
    <div class="code">
      {{format-markdown "```handlebars
{{frost-button
  icon='frost/add'
  on-click=(action 'click')
  priority='primary'
  size='extra-large'
  subtext='Subtext'
  text='Text'
  vertical=vertical
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-button
        icon='frost/add'
        on-click=(action 'click')
        priority='primary'
        size='extra-large'
        subtext='Subtext'
        text='Text'
        vertical=vertical
      }}
    </div>
  </div>

  <div class="example">
    <div class="title">Icon and Text</div>
    <div class="code">
      {{format-markdown "```handlebars
{{frost-button
  icon='frost/add'
  on-click=(action 'click')
  priority='primary'
  size='medium'
  text='Text'
  vertical=vertical
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-button
        icon='frost/add'
        on-click=(action 'click')
        priority='primary'
        size='medium'
        text='Text'
        vertical=vertical
      }}
    </div>
  </div>
</div>

  </div>
</div>
</div>

	{{/frost-tab}}
{{/frost-tabs}}
	<div class='footer'>
		<div class='info'>
			<div>
				<div class='contributors'>
					<span class="footerHeading">Contributors</span><div class='contributors-list'>Adam Meadows - Matthew Dahl - Gosia Hyndman - Eric White - Nagarajan - Justin Lafleur - Chris Stoll - chrisstoll - Steven Glanzer</div>
			</div>
			<div class='connect'><div>
				<div class="footerHeading">Connect</div>
					 <div><a href="https://github.com/ciena-frost/ember-frost-button" class="gh-button"><img src="assets/images/gh-icon.png" width='20' height='20'><span>View on Github</span></a></div></div>
				</div>
			</div>
			<br/>
		</div>
		<div class='copyright'>
			
		</div>
	</div>
</div>