<div class="md">{{#frost-tabs onChange=(action 'tabSelected') selection=selectedTab}}
	{{#frost-tab alias='Description' class='description' id='description'}}
		{{markdown-to-html ghCodeBlocks=true tables=true class="guide-markdown" markdown=(fr-markdown-file-strip-number-prefix 'ui-components/input-fields/password')}}
		{{#scroll-spy}}
			{{#scroll-to id="#summary" class="h2"}} Summary{{/scroll-to}}
			{{#scroll-to id="#relatedtopics" class="h2"}} Related topics{{/scroll-to}}
			{{#scroll-to id="#behaviors" class="h2"}} Behaviors{{/scroll-to}}
			{{#scroll-to id="#guidelines" class="h2"}} Guidelines{{/scroll-to}}
		{{/scroll-spy}}
	{{/frost-tab}}
	{{#frost-tab alias='API' id='api'}}
		  {{markdown-to-html ghCodeBlocks=true tables=true class="guide-markdown" markdown=(fr-markdown-api-file 'ui-components/input-fields/password/README')}}
		{{#scroll-spy}}
			{{#scroll-to id="#frostpassword" class="h1"}} frost-password{{/scroll-to}}
			{{#scroll-to id="#api" class="h2"}} API{{/scroll-to}}
			{{#scroll-to id="#examples" class="h2"}} Examples{{/scroll-to}}
			{{#scroll-to id="#revealpassword" class="h3"}} Reveal Password{{/scroll-to}}
			{{#scroll-to id="#disabled" class="h3"}} Disabled{{/scroll-to}}
			{{#scroll-to id="#error" class="h3"}} Error{{/scroll-to}}
			{{#scroll-to id="#eventsoninput" class="h3"}} Events - onInput{{/scroll-to}}
		{{/scroll-spy}}
	{{/frost-tab}}
	{{#frost-tab alias='Demo' id='demo'}}
		<div><div class="dummy-notification-container">
  {{#each notifications as |notification|}}
    {{notification-message notification=notification}}
  {{/each}}
</div>

<div class="dummy-body">
  <div class="dummy-content">
    <div class="dummy-body password">

  <div class="section-title">Default</div>
  <hr>

  <div class="section">
    <div class="example">
      <div class="demo">
        {{frost-password}}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-password}}
```"
        }}
      </div>
    </div>
  </div>


  <div class="section-title">State</div>
  <hr>

  <div class="section">

  <div class="example">
      <div class="title">error</div>
      <div class="demo">
        {{frost-password
          class="error"
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-password
  class='error'
}}
```"
        }}
      </div>
  </div>

  <div class="example">
      <div class="title">disabled</div>
      <div class="demo">
        {{frost-password
          disabled=true
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-password
  disabled=true
}}
```"
        }}
      </div>
    </div>
  </div>

  <div class="section-title">Options</div>
  <hr>

  <div class="section">
  <div class="example">
    <div class="title">revealable</div>
    <div class="demo">
      {{frost-password
        revealable=true
      }}
    </div>
    <div class="snippet">
      {{format-markdown "```handlebars
{{frost-password
  revealable=true
}}
```"
      }}
    </div>
  </div>
</div>

<div class="section-title">Events</div>
<hr>

  <div class="section">
    <div class="example">
      <div class="title">onInput</div>
      <div class="demo">
        {{frost-password
          id='action'
          onInput=(action 'onInputHandler')
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-password
  onInput=(action 'onInputHandler')
}}
```"
        }}
      </div>
    </div>
  </div>
</div>

  </div>
</div></div>

	{{/frost-tab}}
{{/frost-tabs}}
	<div class='contributors-list-data'>Roxanne Panthaky - Gosia Hyndman - Eric White - Matthew Dahl - Steven Glanzer - Justin Lafleur - Peter Banka - ember-tomster
	</div>
	<div class='gh-link-data'>
		 <a href="https://github.com/ciena-frost/ember-frost-core" class="gh-button">
			 <img src="assets/images/gh-icon.png" width='20' height='20'>
			 <span>View on Github</span>
		 </a>
	</div>
</div>