<div class="md">{{#frost-tabs on-change=(action 'tabSelected') selection=selectedTab}}
	{{#frost-tab alias='Description' class='description' id='description'}}
		{{markdown-to-html ghCodeBlocks=true tables=true class="guide-markdown" markdown=(fr-markdown-file-strip-number-prefix 'UI-components/button-controls/link')}}
		{{#scroll-spy}}
		{{/scroll-spy}}
	{{/frost-tab}}
	{{#frost-tab alias='API' id='api'}}
		  {{markdown-to-html ghCodeBlocks=true tables=true class="guide-markdown" markdown=(fr-markdown-api-file 'ui-components/button-controls/link/README')}}
		{{#scroll-spy}}
			{{#scroll-to id="#installation" class="h2"}} Installation{{/scroll-to}}
			{{#scroll-to id="#api" class="h2"}} API{{/scroll-to}}
			{{#scroll-to id="#examples" class="h2"}} Examples{{/scroll-to}}
			{{#scroll-to id="#primarysmall" class="h3"}} Primary small{{/scroll-to}}
			{{#scroll-to id="#fontbasedonsize" class="h3"}} Font based on size{{/scroll-to}}
			{{#scroll-to id="#development" class="h2"}} Development{{/scroll-to}}
			{{#scroll-to id="#setup" class="h3"}} Setup{{/scroll-to}}
			{{#scroll-to id="#developmentserver" class="h3"}} Development Server{{/scroll-to}}
			{{#scroll-to id="#testing" class="h3"}} Testing{{/scroll-to}}
		{{/scroll-spy}}
	{{/frost-tab}}
	{{#frost-tab alias='Demo' id='demo'}}
		<div><div class="dummy-notification-container">
  {{#each notifications as |notification|}}
    {{notification-message notification=notification}}
  {{/each}}
</div>

<div class="dummy-body">
  <div class="dummy-content">
    <div class="dummy-body link">
    <div class="section-title">Primary</div>
    <div class="section">
        <div class="example">
            <div class="title">Disabled</div>
            <div class="demo">
              {{#frost-link
              'demo.min'
              priority='primary'
              size='small'
              disabled=true
              }}
                  <div class='text'>Primary</div>
              {{/frost-link}}
            </div>
            <div class="snippet">
              {{format-markdown "```handlebars
{{#frost-link
  'demo.min'
  priority='primary'
  size='small'
  disabled=true
}}
  <div class='text'>Primary</div>
{{/frost-link}}
```"
              }}
            </div>
        </div>

        <div class="example">
            <div class="title">Small</div>
            <div class="demo">
              {{#frost-link
              'demo.min'
              priority='primary'
              size='small'
              }}
                  <div class='text'>Primary</div>
              {{/frost-link}}
            </div>
            <div class="snippet">
              {{format-markdown "```handlebars
{{#frost-link
  'demo.min'
  priority='primary'
  size='small'
}}
  <div class='text'>Primary</div>
{{/frost-link}}
```"
              }}
            </div>
        </div>

        <div class="example">
            <div class="title">Medium</div>
            <div class="demo">
              {{#frost-link
              'demo.min'
              priority='primary'
              size='medium'
              }}
                  <div class='text'>Primary</div>
              {{/frost-link}}
            </div>
            <div class="snippet">
              {{format-markdown "```handlebars
{{#frost-link
  'demo.min'
  priority='primary'
  size='medium'
}}
  <div class='text'>Primary</div>
{{/frost-link}}
```"
              }}
            </div>
        </div>

        <div class="example">
            <div class="title">Large</div>
            <div class="demo">
              {{#frost-link
              'demo.min'
              priority='primary'
              size='large'
              }}
                  <div class='text'>Primary</div>
              {{/frost-link}}
            </div>
            <div class="snippet">
              {{format-markdown "```handlebars
{{#frost-link
  'demo.min'
  priority='primary'
  size='large'
}}
  <div class='text'>Primary</div>
{{/frost-link}}
```"
              }}
            </div>
        </div>
    </div>

    <hr>

    <div class="section-title">Secondary</div>

    <div class="section">
        <div class="example">
            <div class="title">Disabled</div>
            <div class="demo">
              {{#frost-link
              'demo.min'
              priority='secondary'
              size='small'
              disabled=true
              }}
                  <div class='text'>Secondary</div>
              {{/frost-link}}
            </div>
            <div class="snippet">
              {{format-markdown "```handlebars
{{#frost-link
  'demo.min'
  priority='secondary'
  size='small'
  disabled=true
}}
  <div class='text'>Secondary</div>
{{/frost-link}}
```"
              }}
            </div>
        </div>

        <div class="example">
            <div class="title">Small</div>
            <div class="demo">
              {{#frost-link
              'demo.min'
              priority='secondary'
              size='small'
              }}
                  <div class='text'>Secondary</div>
              {{/frost-link}}
            </div>
            <div class="snippet">
              {{format-markdown "```handlebars
{{#frost-link
  'demo.min'
  priority='secondary'
  size='small'
}}
  <div class='text'>Secondary</div>
{{/frost-link}}
```"
              }}
            </div>
        </div>

        <div class="example">
            <div class="title">Medium</div>
            <div class="demo">
              {{#frost-link
              'demo.min'
              priority='secondary'
              size='medium'
              }}
                  <div class='text'>Secondary</div>
              {{/frost-link}}
            </div>
            <div class="snippet">
              {{format-markdown "```handlebars
{{#frost-link
  'demo.min'
  priority='secondary'
  size='medium'
}}
  <div class='text'>Secondary</div>
{{/frost-link}}
```"
              }}
            </div>
        </div>

        <div class="example">
            <div class="title">Large</div>
            <div class="demo">
              {{#frost-link
              'demo.min'
              priority='secondary'
              size='large'
              }}
                  <div class='text'>Secondary</div>
              {{/frost-link}}
            </div>
            <div class="snippet">
              {{format-markdown "```handlebars
{{#frost-link
  'demo.min'
  priority='secondary'
  size='large'
}}
  <div class='text'>Secondary</div>
{{/frost-link}}
```"
              }}
            </div>
        </div>
    </div>

    <hr>
    <div class="section-title">Tertiary</div>

    <div class="section">
        <div class="example">
            <div class="title">Font based on size</div>
            <div class="demo">
                <div>
                    <span style="font-size: {{fontSize}}px">
                        Lorem
                      {{#frost-link
                      'demo.min'
                      priority='tertiary'
                      }}
                          <div class='text'>Link one</div>
                      {{/frost-link}}
                        Ipsum
                    </span>
                </div>
                <div class="actions">
                  {{frost-button
                  on-click=(action 'increase' fontSize)
                  priority='primary'
                  size='medium'
                  text='Increase font'
                  vertical=vertical
                  }}

                  {{frost-button
                  on-click=(action 'decrease' fontSize)
                  priority='primary'
                  size='medium'
                  text='Decrease font'
                  vertical=vertical
                  }}
                </div>
            </div>
            <div class="snippet">
              {{format-markdown "```handlebars
{{#frost-link
  'demo.min'
  priority='tertiary'
}}
  <div class='text'>Link one</div>
{{/frost-link}}
```"
              }}
            </div>
        </div>

        <div class="example">
            <div class="title">Disabled</div>
            <div class="demo">
              {{#frost-link
              'demo.min'
              priority='tertiary'
              disabled=true
              }}
                  <div class='text'>Link one</div>
              {{/frost-link}}
            </div>
            <div class="snippet">
              {{format-markdown "```handlebars
{{#frost-link
  'demo.min'
  priority='tertiary'
  disabled=true
}}
  <div class='text'>Link one</div>
{{/frost-link}}
```"
              }}
            </div>
        </div>
    </div>

    <div class='outlet'>
      {{outlet}}
    </div>
</div>



  </div>
</div></div>

	{{/frost-tab}}
{{/frost-tabs}}
	<div class='footer'>
		<div class='info'>
			<div>
				<div class='contributors'>
					<span class="footerHeading">Contributors</span><div class='contributors-list'>Eric White - Matthew Dahl - Gosia Hyndman - Quincy Le - Steven Glanzer - Justin Lafleur</div>
			</div>
			<div class='connect'><div>
				<div class="footerHeading">Connect</div>
					 <div><a href="https://github.com/ciena-frost/ember-frost-link" class="gh-button"><img src="assets/images/gh-icon.png" width='20' height='20'><span>View on Github</span></a></div></div>
				</div>
			</div>
			<br/>
		</div>
		<div class='copyright'>
			
		</div>
	</div>
</div>