<div class="md">{{#frost-tabs on-change=(action 'tabSelected') selection=selectedTab}}
	{{#frost-tab alias='Description' class='description' id='description'}}
		{{markdown-to-html ghCodeBlocks=true tables=true class="guide-markdown" markdown=(fr-markdown-file-strip-number-prefix 'ui-components/input-controls/select')}}
		{{#scroll-spy}}
		{{/scroll-spy}}
	{{/frost-tab}}
	{{#frost-tab alias='API' id='api'}}
		  {{markdown-to-html ghCodeBlocks=true tables=true class="guide-markdown" markdown=(fr-markdown-api-file 'ui-components/input-controls/select/README')}}
		{{#scroll-spy}}
			{{#scroll-to id="#emberfrostselect" class="h1"}} ember-frost-select{{/scroll-to}}
			{{#scroll-to id="#installation" class="h2"}} Installation{{/scroll-to}}
			{{#scroll-to id="#api" class="h2"}} API{{/scroll-to}}
			{{#scroll-to id="#examples" class="h2"}} Examples{{/scroll-to}}
			{{#scroll-to id="#simplesingleselect" class="h3"}} Simple single select{{/scroll-to}}
			{{#scroll-to id="#multiselect" class="h3"}} Multi select{{/scroll-to}}
			{{#scroll-to id="#simplesingleselectwexternalfiltering" class="h3"}} Simple single select w/ external filtering{{/scroll-to}}
			{{#scroll-to id="#selectingbyvalue" class="h3"}} Selecting by value{{/scroll-to}}
			{{#scroll-to id="#singlevalue" class="h3"}} Single value{{/scroll-to}}
			{{#scroll-to id="#multiplevalues" class="h3"}} Multiple Values{{/scroll-to}}
			{{#scroll-to id="#contributing" class="h2"}}Contributing{{/scroll-to}}
			{{#scroll-to id="#installation-1" class="h3"}} Installation{{/scroll-to}}
			{{#scroll-to id="#running" class="h3"}} Running{{/scroll-to}}
			{{#scroll-to id="#runningtests" class="h3"}} Running Tests{{/scroll-to}}
			{{#scroll-to id="#building" class="h3"}} Building{{/scroll-to}}
		{{/scroll-spy}}
	{{/frost-tab}}
	{{#frost-tab alias='Demo' id='demo'}}
		<div><div class="dummy-notification-container">
  {{#each notifications as |notification|}}
    {{notification-message notification=notification}}
  {{/each}}
</div>

<div class="dummy-body">
  <div class="dummy-content">
    <div class="section">
  <div class="title">frost-select</div>
  <div class="example">
    <div class="title">Local filtering</div>
    <div class="snippet">
      {{format-markdown "```handlebars
{{frost-select
  data=data
  on-change=(action 'onChange')
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-select
        data=data
        on-change=(action 'onChange')
      }}
    </div>
  </div>

  <div class="example">
    <div class="title">Pre-selected index</div>
    <div class="snippet">
      {{format-markdown "```handlebars
{{frost-select
  data=data
  on-change=(action 'onChange')
  selected=selectedIndex
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-select
        data=data
        on-change=(action 'onChange')
        selected=selectedIndex
      }}
    </div>
  </div>

  <div class="example">
    <div class="title">Pre-selected value</div>
    <div class="snippet">
      {{format-markdown "```handlebars
{{frost-select
  data=data
  on-change=(action 'onChange')
  selectedValue=preSelectedValue
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-select
        data=data
        on-change=(action 'onChange')
        selectedValue=preSelectedValue
      }}
    </div>
  </div>

  <div class="example">
    <div class="title">External filtering</div>
    <div class="snippet">
      {{format-markdown "```handlebars
{{frost-select
  data=data
  on-change=(action 'onChange')
  on-input=(action 'onInput')
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-select
        data=data
        on-change=(action 'onChange')
        on-input=(action 'onInput')
      }}
    </div>
  </div>

  <div class="example">
    <div class="title">Disabled</div>
    <div class="snippet">
      {{format-markdown "```handlebars
{{frost-select
  data=data
  disabled=true
  on-change=(action 'onChange')
  selected=selectedIndex
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-select
        data=data
        disabled=true
        on-change=(action 'onChange')
        selected=selectedIndex
      }}
    </div>
  </div>

  <div class="example">
    <div class="title">Error</div>
    <div class="snippet">
      {{format-markdown "```handlebars
{{frost-select
  data=data
  error=true
  on-change=(action 'onChange')
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-select
        data=data
        error=true
        on-change=(action 'onChange')
      }}
    </div>
  </div>
</div>

<div class="section">
  <div class="title">frost-multi-select</div>

  <div class="example">
    <div class="title">Local filtering</div>
    <div class="snippet">
      {{format-markdown "```handlebars
{{frost-multi-select
  data=data
  on-change=(action 'onChange')
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-multi-select
        data=data
        on-change=(action 'onChange')
      }}
    </div>
  </div>

  <div class="example">
    <div class="title">Multiple pre-selected indices</div>
    <div class="snippet">
      {{format-markdown "```handlebars
{{frost-multi-select
  data=data
  on-change=(action 'onChange')
  selected=selectedIndices
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-multi-select
        data=data
        on-change=(action 'onChange')
        selected=selectedIndices
      }}
    </div>
  </div>

  <div class="example">
    <div class="title">Multiple pre-selected values</div>
    <div class="snippet">
      {{format-markdown "```handlebars
{{frost-multi-select
  data=data
  on-change=(action 'onChange')
  selectedValue=selectedValues
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-multi-select
        data=data
        on-change=(action 'onChange')
        selectedValue=selectedValues
      }}
    </div>
  </div>

  <div class="example">
    <div class="title">Disabled</div>
    <div class="snippet">
      {{format-markdown "```handlebars
{{frost-multi-select
  data=data
  disabled=true
  on-change=(action 'onChange')
  selected=selectedIndices
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-multi-select
        data=data
        disabled=true
        on-change=(action 'onChange')
        selected=selectedIndices
      }}
    </div>
  </div>

  <div class="example">
    <div class="title">Error</div>
    <div class="snippet">
      {{format-markdown "```handlebars
{{frost-multi-select
  data=data
  error=true
  on-change=(action 'onChange')
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-multi-select
        data=data
        error=true
        on-change=(action 'onChange')
      }}
    </div>
  </div>
</div>

  </div>
</div>
</div>

	{{/frost-tab}}
{{/frost-tabs}}
	<div class='footer'>
		<div class='info'>
			<div>
				<div class='contributors'>
					<span class="footerHeading">Contributors</span><div class='contributors-list'>chrisstoll - agonzalez-cyan - Matthew Dahl - Chris Stoll - Adam Meadows - Andres Gonzalez - Eric White - Roxanne Panthaky - Steven Glanzer - Peter Banka - Gosia Hyndman - Justin Lafleur - Niko Skrypnik - Sophy Pal - ember-tomster</div>
			</div>
			<div class='connect'><div>
				<div class="footerHeading">Connect</div>
					 <div><a href="https://github.com/ciena-frost/ember-frost-select" class="gh-button"><img src="assets/images/gh-icon.png" width='20' height='20'><span>View on Github</span></a></div></div>
				</div>
			</div>
			<br/>
		</div>
		<div class='copyright'>
			
		</div>
	</div>
</div>