<div class="md">{{#frost-tabs on-change=(action 'tabSelected') selection=selectedTab}}
	{{#frost-tab alias='Description' class='description' id='description'}}
		{{markdown-to-html ghCodeBlocks=true tables=true class="guide-markdown" markdown=(fr-markdown-file-strip-number-prefix 'ui-components/menu-controls/navigation')}}
		<div id='md-scrollspy' class='md-scrollspy'>
		</div>
	{{/frost-tab}}
	{{#frost-tab alias='API' id='api'}}
		  {{markdown-to-html ghCodeBlocks=true tables=true class="guide-markdown" markdown=(fr-markdown-api-file 'ui-components/menu-controls/navigation/README')}}
	{{/frost-tab}}
	{{#frost-tab alias='Demo' id='demo'}}
		<div><div class='frost-application-bar dummy-nav'>
  {{#frost-link 'ui-components.menu-controls.navigation.dashboard' class='branding'}}
    {{frost-icon icon='pinpoint/nav/logo'}}
  {{/frost-link}}

  {{#frost-button class='navigation' on-click=(action 'openFiberplantNav') priority="" size=""}}
      <div class='icon-text'>
        {{frost-icon icon='pinpoint/nav/fiberplant'}}
          <div class='text'>Fiberplant</div>
      </div>
  {{/frost-button}}

  {{#frost-button class='navigation' on-click=(action 'openAdminNav') priority="" size=""}}
      <div class='icon-text'>
        {{frost-icon icon='pinpoint/nav/admin'}}
          <div class='text'>Administration</div>
      </div>
  {{/frost-button}}

  {{#frost-button class='icon user' priority="" size=""}}
    {{frost-icon icon='pinpoint/nav/user'}}
  {{/frost-button}}
</div>

{{liquid-modal}}

<div class='dummy-content'>
  {{outlet}}
</div>

</div>

	{{/frost-tab}}
{{/frost-tabs}}
	<div class='footer'>
		<div class='info'>
			<div>
				<div class='contributors'>
					<span class="footerHeading">Contributors</span>Matthew Dahl - Quincy Le - Justin Lafleur - Eric White - Gosia Hyndman - Steven Glanzer
			</div>
			<div class='connect'>
				<span class="footerHeading">Connect</span>
					 <a href="https://github.com/ciena-frost/ember-frost-navigation" class="gh-button"><img src="assets/images/gh-icon.png" width='20' height='20'><span>View on Github</span></a> 
				</div>
			</div>
			<br/>
		</div>
		<div class='copyright'>
			
		</div>
	</div>
</div>