<div class="md">{{#frost-tabs onChange=(action 'tabSelected') selection=selectedTab}}
	{{#frost-tab alias='Description' class='description' id='description'}}
		{{markdown-to-html ghCodeBlocks=true tables=true class="guide-markdown" markdown=(fr-markdown-file-strip-number-prefix 'ui-components/input-fields/checkbox')}}
		{{#scroll-spy}}
			{{#scroll-to id="#summary" class="h2"}} Summary{{/scroll-to}}
			{{#scroll-to id="#relatedtopics" class="h2"}} Related topics{{/scroll-to}}
			{{#scroll-to id="#behaviors" class="h2"}} Behaviors{{/scroll-to}}
			{{#scroll-to id="#usageguidelines" class="h2"}} Usage guidelines{{/scroll-to}}
		{{/scroll-spy}}
	{{/frost-tab}}
	{{#frost-tab alias='API' id='api'}}
		  {{markdown-to-html ghCodeBlocks=true tables=true class="guide-markdown" markdown=(fr-markdown-api-file 'ui-components/input-fields/checkbox/README')}}
		{{#scroll-spy}}
			{{#scroll-to id="#frostcheckboxbr" class="h1"}} frost-checkbox {{/scroll-to}}
			{{#scroll-to id="#api" class="h2"}} API{{/scroll-to}}
			{{#scroll-to id="#examples" class="h2"}} Examples{{/scroll-to}}
			{{#scroll-to id="#basic" class="h3"}} Basic{{/scroll-to}}
			{{#scroll-to id="#size" class="h3"}} Size{{/scroll-to}}
			{{#scroll-to id="#label" class="h3"}} Label{{/scroll-to}}
			{{#scroll-to id="#autofocus" class="h3"}} Autofocus{{/scroll-to}}
			{{#scroll-to id="#checked" class="h3"}} Checked{{/scroll-to}}
			{{#scroll-to id="#disabledchecked" class="h3"}} Disabled - checked{{/scroll-to}}
			{{#scroll-to id="#disablednotchecked" class="h3"}} Disabled - not checked{{/scroll-to}}
			{{#scroll-to id="#error" class="h3"}} Error{{/scroll-to}}
			{{#scroll-to id="#eventsoninput" class="h3"}} Events - onInput{{/scroll-to}}
		{{/scroll-spy}}
	{{/frost-tab}}
	{{#frost-tab alias='Demo' id='demo'}}
		<div><div class="dummy-notification-container">
  {{#each notifications as |notification|}}
    {{notification-message notification=notification}}
  {{/each}}
</div>

<div class="dummy-body">
  <div class="dummy-content">
    <div class="dummy-notification-container">
{{#each notifications as |notification|}}
  {{notification-message notification=notification}}
{{/each}}
</div>

<div class='dummy-body checkbox'>

  <div class="section-title">Default</div>
  <hr>

  <div class='section'>

    <div class='example'>
      <div class='demo'>
        {{frost-checkbox}}
      </div>
      <div class='snippet'>
        {{format-markdown
"```handlebars
{{frost-checkbox}}
```"}}
      </div>
    </div>

  </div>


  <div class="section-title">Size</div>
  <hr>
  <div class='section'>

  <div class='example'>
      <div class='title'>small</div>
      <div class='demo'>
        {{frost-checkbox size='small'}}
      </div>
      <div class='snippet'>
        {{format-markdown
"```handlebars
{{frost-checkbox
  size='small'
}}
```"}}
      </div>
    </div>

  <div class='example'>
      <div class='title'>medium</div>
      <div class='demo'>
        {{frost-checkbox size='medium'}}
      </div>
      <div class='snippet'>
        {{format-markdown
"```handlebars
{{frost-checkbox
  size='medium'
}}
```"}}
      </div>
    </div>

   <div class='example'>
      <div class='title'>large</div>
      <div class='demo'>
        {{frost-checkbox size='large'}}
      </div>
      <div class='snippet'>
        {{format-markdown
"```handlebars
{{frost-checkbox
  size='large'
}}
```"}}
      </div>
    </div>

  </div>

  <div class="section-title">State</div>
  <hr>
  <div class='section'>

    <div class='example'>
      <div class='title'>checked</div>
      <div class='demo'>
        {{frost-checkbox checked=true}}
      </div>
      <div class='snippet'>
        {{format-markdown
"```handlebars
{{frost-checkbox
  checked=true
}}
```"}}
      </div>
    </div>

    <div class='example'>
      <div class='title'>disabled checked</div>
      <div class='demo'>
        {{frost-checkbox disabled=true checked=true}}
      </div>
      <div class='snippet'>
        {{format-markdown
"```handlebars
{{frost-checkbox
  disabled=true
  checked=true
}}
```"}}
      </div>
    </div>

    <div class='example'>
      <div class='title'>error</div>
      <div class='demo'>
        {{frost-checkbox class='error'}}
      </div>
      <div class='snippet'>
        {{format-markdown
"```handlebars
{{frost-checkbox
  class='error'
}}
```"}}
      </div>
    </div>

    </div>

  <div class="section-title">Options</div>
  <hr>
  <div class='section'>
    <div class='example'>
      <div class='title'>label</div>
      <div class='demo'>
        {{frost-checkbox label='label'}}
      </div>
      <div class='snippet'>
        {{format-markdown
"```handlebars
{{frost-checkbox
  label='label'
}}
```"}}
      </div>
    </div>

    </div>

  <div class="section-title">Events</div>
  <hr>
  <div class='section'>

    <div class="example">
      <div class="title">onInput</div>
      <div class="demo">
        {{frost-checkbox onInput=(action 'onInputHandler')
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-checkbox
  onInput=(action 'onInputHandler')
}}
```"
        }}
      </div>
    </div>
  </div>

</div>

  </div>
</div></div>

	{{/frost-tab}}
{{/frost-tabs}}
	<div class='contributors-list-data'>Roxanne Panthaky - Gosia Hyndman - Eric White - Matthew Dahl - Steven Glanzer - Justin Lafleur - Peter Banka - ember-tomster
	</div>
	<div class='gh-link-data'>
		 <a href="https://github.com/ciena-frost/ember-frost-core" class="gh-button">
			 <img src="assets/images/gh-icon.png" width='20' height='20'>
			 <span>View on Github</span>
		 </a>
	</div>
</div>