<div class="md">{{#frost-tabs on-change=(action 'tabSelected') selection=selectedTab}}
	{{#frost-tab alias='Description' class='description' id='description'}}
		{{markdown-to-html ghCodeBlocks=true tables=true class="guide-markdown" markdown=(fr-markdown-file-strip-number-prefix 'ui-components/indicator-controls/notifications')}}
	{{/frost-tab}}
	{{#frost-tab alias='API' id='api'}}
		  {{markdown-to-html ghCodeBlocks=true tables=true class="guide-markdown" markdown=(fr-markdown-api-file 'ui-components/indicator-controls/notifications/README')}}
	{{/frost-tab}}
	{{#frost-tab alias='Demo' id='demo'}}
		<div>{{outlet}}<div class="demo-application">
  <div class="demo-content">
    {{frost-notifier}}
    <form>
        <fieldset>
          <legend>Frost Notifications</legend>
          <div class='field'>
            <label>Message:</label>
            <div class='field-value'>
            {{frost-text id="message-field" type="text" value=message on-input=(action 'text')}}
            </div>
          </div>
          <div class='field'>
            <label>Type:</label>
            <div class='field-value'>
              {{frost-select data=selectData on-change=(action 'select')}}
            </div>
          </div>
          <div class='field'>
            <label>Timeout:</label>
            <div class='field-value'>
              {{frost-text value=clearDuration}}
            </div>
          </div>
          <div class='field'>
            <label></label>
            {{#frost-button priority="secondary" on-click=(action 'clearAll')}}Clear all{{/frost-button}}
            {{#frost-button id="show-notification" priority="primary" on-click=(action 'showNotification')}}Show{{/frost-button}}
          </div>
        </fieldset>
    </form>
  </div>
</div>

</div>

	{{/frost-tab}}
{{/frost-tabs}}
	<div class='footer'>
		<div class='info'>
			<div>
				<div class='contributors'>
					<span class="footerHeading">Contributors</span>Roxanne - Steven Glanzer - Sophy Pal - Matthew Dahl - Eric White
			</div>
			<div class='connect'>
				<span class="footerHeading">Connect</span>
					 <a href="https://github.com/ciena-frost/ember-frost-notifier" class="gh-button"><img src="assets/images/gh-icon.png" width='20' height='20'><span>View on Github</span></a> 
				</div>
			</div>
			<br/>
		</div>
		<div class='copyright'>
			
		</div>
	</div>
</div>