<div class='title'>
  {{#link-to 'overview.vision'}}{{frost-icon icon='guide/frost'}}{{/link-to}}
</div>
<div class='search'>
  {{frost-text on-input=(action 'search')}}
  {{frost-icon icon='frost/search'}}
</div>
{{#each filteredItems as |item|}}
  {{#if (eq item.type 'category')}}
    {{frost-navigation-sidebar-category category=item selectedCategory=selectedCategory onClick=(action 'categorySelected' item.route)}}
  {{else if (eq item.type 'route')}}
        {{#if (eq item.alias 'Contributor')}}
        {{else}}
    {{#frost-link item.route class='route'}}
      {{item.alias}}
    {{/frost-link}}
        {{/if}}
  {{/if}}
{{/each}}
