
        <div id=‘content’>
          {{#frost-docs 'frost-button'}}
            {{#frost-docs-api}}
              {{#frost-docs-api-category 'actions'}}
                {{frost-docs-api-attribute 'on-click' 'triggers associated action'}}
              {{/frost-docs-api-category}}

              {{#frost-docs-api-category 'css (content)'}}
                {{frost-docs-api-css 'icon' 'icon is part of the button'}}
                {{frost-docs-api-css 'icon-text' 'icon and text are part of the button'}}
                {{frost-docs-api-css 'info' 'additional info is part of the button'}}
                {{frost-docs-api-css 'text' 'text is part of the button'}}
              {{/frost-docs-api-category}}

              {{#frost-docs-api-category 'css (size)'}}
                {{frost-docs-api-css 'small' 'small link button'}}
                {{frost-docs-api-css 'medium' 'medium link button'}}
                {{frost-docs-api-css 'large' 'large link button'}}
                {{frost-docs-api-css 'extra-large' 'extra-large link button'}}
              {{/frost-docs-api-category}}

              {{#frost-docs-api-category 'css (type)'}}
                {{frost-docs-api-css 'primary' 'primary link button'}}
                {{frost-docs-api-css 'secondary' 'secondary link button'}}
                {{frost-docs-api-css 'tertriary' 'tertiary link button'}}
              {{/frost-docs-api-category}}

              {{#frost-docs-api-category 'states'}}
                {{frost-docs-api-attribute 'autofocus' 'autofocus on the element'}}
                {{frost-docs-api-attribute 'disabled' 'disabled element'}}
              {{/frost-docs-api-category}}

            {{/frost-docs-api}}

            {{#frost-docs-examples}}
              {{frost-docs-example text}}
              {{frost-docs-example icon}}
              {{frost-docs-example icontext}}
              {{frost-docs-example info1}}
            {{/frost-docs-examples}}

            {{#frost-docs-changelog}}
              {{frost-docs-changelog-entry '1.1.3' "Initial version"}}
            {{/frost-docs-changelog}}
          {{/frost-docs}}
        </div>

        <div class='dummy-padding'>
          {{#frost-button on-click=(action 'action') }}
          <div class='icon-action'>
            {{frost-svg path='frost/infobar-create'}}
            <div class='text'>This is long text</div>
          </div>
          {{/frost-button}}
                   {{#frost-button on-click=(action 'action')}}
            <div class='icon-action'>
            {{frost-svg path='frost/infobar-create'}}
            <div class='text'>Item 1</div>
          </div>
          {{/frost-button}}
        </div>
        
        <div class='dummy-padding'>
          {{#frost-button on-click=(action 'action')}}
            <div class='icon-action'>
            {{frost-svg path='frost/infobar-create'}}
            <div class='text'>Item 1</div>
          </div>
          {{/frost-button}}
          {{frost-button class='space'}}
          {{#frost-button on-click=(action 'action') class='icon-action'}}
            {{frost-svg path='frost/infobar-create'}}
            <div class='text'>Item 2</div>
          {{/frost-button}}
          {{frost-button class='space'}}
          {{#frost-button on-click=(action 'action') class='icon-action'}}
            {{frost-svg path='frost/infobar-create'}}
            <div class='text'>Item 3</div>
          {{/frost-button}}
          {{frost-button class='space'}}
          {{#frost-button on-click=(action 'action') class='icon-action'}}
            {{frost-svg path='frost/infobar-create'}}
            <div class='text'>Item 4</div>
          {{/frost-button}}
          
          {{frost-button class='separator'}}
          
          {{#frost-button on-click=(action 'action') class='icon-action'}}
            {{frost-svg path='frost/infobar-find'}}
            <div class='text'>Find NE</div>
          {{/frost-button}}
        </div>
        
        <div class='dummy-padding'>
          {{#frost-button on-click=(action 'action') class='large primary'}}
            <div class='text'>Enroll</div>
          {{/frost-button}}
          
          {{frost-button class='space'}}
          
          {{#frost-button on-click=(action 'action') class='large secondary'}}
            <div class='text'>Add</div>
          {{/frost-button}}
          
          {{frost-button class='space'}}
          
          {{#frost-button on-click=(action 'action') class='large tertiary'}}
            <div class='text'>Remove</div>
          {{/frost-button}}
        </div>
        
        <div class='dummy-padding'>
          {{#frost-button on-click=(action 'action') class='medium primary'}}
            <div class='text'>Enroll</div>
          {{/frost-button}}
          
          {{frost-button class='space'}}
          
          {{#frost-button on-click=(action 'action') class='medium secondary'}}
            <div class='text'>Add</div>
          {{/frost-button}}
          
          {{frost-button class='space'}}
          
          {{#frost-button on-click=(action 'action') class='medium tertiary'}}
            <div class='text'>Remove</div>
          {{/frost-button}}
        </div>
        
        <div class='dummy-padding'>
          {{#frost-button on-click=(action 'action') class='small primary'}}
            <div class='text'>Enroll</div>
          {{/frost-button}}
          
          {{frost-button class='space'}}
          
          {{#frost-button on-click=(action 'action') class='small secondary'}}
            <div class='text'>Add</div>
          {{/frost-button}}
          
          {{frost-button class='space'}}
          
          {{#frost-button on-click=(action 'action') class='small tertiary'}}
            <div class='text'>Remove</div>
          {{/frost-button}}
        </div>
        
        <div class='dummy-padding'>
          {{#frost-button on-click=(action 'action')  disabled=true class='small primary'}}
            <div class='text'>Enroll</div>
          {{/frost-button}}
          
          {{frost-button class='space'}}
          
          {{#frost-button on-click=(action 'action') disabled=true class='small secondary'}}
            <div class='text'>Add</div>
          {{/frost-button}}
          
          {{frost-button class='space'}}
          
          {{#frost-button on-click=(action 'action') disabled=true class='small tertiary'}}
            <div class='text'>Remove</div>
          {{/frost-button}}
        </div>
        
        <hr>
        <div class='dummy-padding'>
            <div class="dummy-text">
            <p><strong>Old backwards compatible</strong></p>
                Due to issues with flexbox and button in Firefox, button styling has been updated.
                Going forward, 'text', 'icon', 'info' and 'text+icon' styles need to be defined in a separate div.
                <p><strong>Note: For backward compatibility, text and icon styles are still supported,
                    but it is recommended to update to the new pattern.</strong></p>
                Below, there are two examples of old and new styling for various buttons.
            </div>
        </div>
        


        <div class='dummy-padding'>
            <div class="dummy-text">
                <table border="1"  style="width:100%">
                    <tr>
                        <th>Old Styling</th>
                        <th>New Styling</th>
                    </tr>
                    <tr>
                        <td>
							{{#frost-button on-click=(action 'action') class='text small primary'}}
                                Action
							{{/frost-button}}
                            <div class="dummy-info">frost-button class='text small primary'</div>
                        </td>
                        <td>
							{{#frost-button on-click=(action 'action') class='small primary'}}
                                <div class='text'>Action</div>
							{{/frost-button}}
                            <div class="dummy-info">frost-button class='small primary'</div>
                            <div class="dummy-info">div class='text'</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
							{{#frost-button on-click=(action 'action') class='text small secondary'}}
                                Action
							{{/frost-button}}
                            <div class="dummy-info">frost-button class='text small secondary'</div>
                        </td>
                        <td>
							{{#frost-button on-click=(action 'action') class='small secondary'}}
                                <div class="text">Action</div>
							{{/frost-button}}
                            <div class="dummy-info">frost-button class='small secondary'</div>
                            <div class="dummy-info">div class='text'</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
							{{#frost-button on-click=(action 'action') class='text small tertiary'}}
                                Action
							{{/frost-button}}
                            <div class="dummy-info">frost-button class='text small tertiary'</div>
                        </td>
                        <td>
							{{#frost-button on-click=(action 'action') class='small tertiary'}}
                                <div class="text">Action</div>
							{{/frost-button}}
                            <div class="dummy-info">frost-button class='small tertiary'</div>
                            <div class="dummy-info">div class='text'</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
							{{#frost-button on-click=(action 'action') class='text small primary'}}
                                Action
							{{/frost-button}}
                            <div class="dummy-info">frost-button class='text small primary'</div>
                        </td>
                        <td>
							{{#frost-button on-click=(action 'action') class='small primary'}}
                                <div class="text">Action</div>
							{{/frost-button}}
                            <div class="dummy-info">frost-button class='small primary'</div>
                            <div class="dummy-info">div class='text'</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
							{{#frost-button on-click=(action 'action') class='text medium primary'}}
                                Action
							{{/frost-button}}
                            <div class="dummy-info">frost-button class='text medium primary'</div>
                        </td>
                        <td>
							{{#frost-button on-click=(action 'action') class='medium primary'}}
                                <div class="text">Action</div>
							{{/frost-button}}
                            <div class="dummy-info">frost-button class='medium primary'</div>
                            <div class="dummy-info">div class='text'</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
							{{#frost-button on-click=(action 'action') class='text large primary'}}
                                Action
							{{/frost-button}}
                            <div class="dummy-info">frost-button class='text large primary'</div>
                        </td>
                        <td>
							{{#frost-button on-click=(action 'action') class='large primary'}}
                                <div class="text">Action</div>
							{{/frost-button}}
                            <div class="dummy-info">frost-button class='large primary'</div>
                            <div class="dummy-info">div class='text'</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
							{{#frost-button on-click=(action 'action') class='text small primary' disabled=true}}
                                Action
							{{/frost-button}}
                            <div class="dummy-info">frost-button class='text small primary'</div>
                        </td>
                        <td>
							{{#frost-button on-click=(action 'action') class='small primary' disabled=true}}
                                <div class="text">Action</div>
							{{/frost-button}}
                            <div class="dummy-info">frost-button class='small primary'</div>
                            <div class="dummy-info">div class='text'</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
							{{#frost-button on-click=(action 'action') class='text small primary' autofocus=true}}
                                Action
							{{/frost-button}}
                            <div class="dummy-info">frost-button class='text small primary'</div>
                        </td>
                        <td>
							{{#frost-button on-click=(action 'action') class='small primary' autofocus=true}}
                                <div class="text">Action</div>
							{{/frost-button}}
                            <div class="dummy-info">frost-button class='small primary'</div>
                            <div class="dummy-info">div class='text'</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
							{{#frost-button on-click=(action 'action') class='icon small primary'}}
								{{frost-svg path='frost/add'}}
							{{/frost-button}}
                            <div class="dummy-info">frost-button class='icon small primary'</div>
                        </td>
                        <td>
							{{#frost-button on-click=(action 'action') class='small primary'}}
                                <div class="icon">
									{{frost-svg path='frost/add'}}
                                </div>
							{{/frost-button}}
                            <div class="dummy-info">frost-button class='small primary'</div>
                            <div class="dummy-info">div class='icon'</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
							{{#frost-button on-click=(action 'action') class='icon medium primary'}}
								{{frost-svg path='frost/add'}}
							{{/frost-button}}
                            <div class="dummy-info">frost-button class='icon medium primary'</div>
                        </td>
                        <td>
							{{#frost-button on-click=(action 'action') class='medium primary'}}
                                <div class="icon">
									{{frost-svg path='frost/add'}}
                                </div>
							{{/frost-button}}
                            <div class="dummy-info">frost-button class='medium primary'</div>
                            <div class="dummy-info">div class='icon'</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
							{{#frost-button on-click=(action 'action') class='icon large primary'}}
								{{frost-svg path='frost/add'}}
							{{/frost-button}}
                            <div class="dummy-info">frost-button class='icon large primary'</div>
                        </td>
                        <td>
							{{#frost-button on-click=(action 'action') class='large primary'}}
                                <div class="icon">
									{{frost-svg path='frost/add'}}
                                </div>
							{{/frost-button}}
                            <div class="dummy-info">frost-button class='large primary'</div>
                            <div class="dummy-info">div class='icon'</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
							{{#frost-button on-click=(action 'action') class='info extra-large primary'}}
								{{frost-svg path='frost/add'}}
                                <div class='content'>
                                    <div class='alias'>Info alias</div>
                                    <div class='details'>Info details</div>
                                </div>
							{{/frost-button}}
                            <div class="dummy-info">frost-button class='info extra-large primary'</div>
                        </td>
                        <td>
							{{#frost-button on-click=(action 'action') class='extra-large primary'}}
                                <div class="info">
									{{frost-svg path='frost/add'}}
                                    <div class='content'>
                                        <div class='alias'>Info alias</div>
                                        <div class='details'>Info details</div>
                                    </div>
                                </div>
							{{/frost-button}}
                            <div class="dummy-info">frost-button class='extra-large primary'</div>
                            <div class="dummy-info">div class='info'</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
							{{#frost-button on-click=(action 'action') class='icon text medium primary'}}
								{{frost-svg path='frost/add'}}
                                Text
							{{/frost-button}}
                            <div class="dummy-info">frost-button class='icon text medium primary'</div>
                        </td>
                        <td>
							{{#frost-button on-click=(action 'action') class='medium primary'}}
                                <div class="icon-text text">
									{{frost-svg path='frost/add'}}
                                    <div class="text">Text</div>
                                </div>
							{{/frost-button}}
                            <div class="dummy-info">frost-button class='medium primary'</div>
                            <div class="dummy-info">div class='icon-text'</div>
                            <div class="dummy-info">div class='text'</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
