<div class="md">{{#frost-tabs on-change=(action 'tabSelected') selection=selectedTab}}
	{{#frost-tab alias='Description' class='description' id='description'}}
		{{markdown-to-html ghCodeBlocks=true tables=true class="guide-markdown" markdown=(fr-markdown-file-strip-number-prefix 'ui-components/content-views/list')}}
	{{/frost-tab}}
	{{#frost-tab alias='API' id='api'}}
		  {{markdown-to-html ghCodeBlocks=true tables=true class="guide-markdown" markdown=(fr-markdown-api-file 'ui-components/content-views/list/README')}}
	{{/frost-tab}}
	{{#frost-tab alias='Demo' id='demo'}}
		<div><div class="dummy-notification-container">
	{{#each notifications as |notification|}}
		{{notification-message notification=notification}}
	{{/each}}
</div>

<div class="dummy-body">
	<div class="dummy-content">
		{{outlet}}{{#frost-list
  class='frost-flex-1'
  on-scroll-y-end=(action 'yEndReached')
  on-select=(action 'selected')
  records=model
  selections=selectedItems
  as |record|
}}
  {{!#if (eq record.record-type 'custom')}}
    {{component componentPath model=record detailLevel=activeDetailLevel}}
  {{!/if}}
{{/frost-list}}

	</div>
</div></div>

	{{/frost-tab}}
{{/frost-tabs}}
	<div class='footer'>
		<div class='info'>
			<div>
				<div class='contributors'>
					<span class="footerHeading">Contributors</span>Roxanne - Matthew Dahl - Steven Glanzer - Matthew Dahl - Eric White - Gosia Hyndman
			</div>
			<div class='connect'>
				<span class="footerHeading">Connect</span>
					 <a href="https://github.com/ciena-frost/ember-frost-list" class="gh-button"><img src="assets/images/gh-icon.png" width='20' height='20'><span>View on Github</span></a> 
				</div>
			</div>
			<br/>
		</div>
		<div class='copyright'>
			
		</div>
	</div>
</div>