<div class="contributor-icons">
{{#liquid-with model as |currentModel|}}
    {{#each currentModel as |contributor|}}
<div class='card'>
    {{#link-to "contributing.contributor" contributor}}
    <img class="contributor-image-small" alt="{{contributor.name}}"
             src="{{contributor.avatar}}" data-contributor-id={{contributor.handle}} >
    {{/link-to}}
  <div class='card-block'>
      <span class='card-row card-name'>{{contributor.name}}</span>
      <span class='card-row card-handle divider'>{{contributor.handle}}</span>
  </div>
</div>
    {{/each}}
  {{/liquid-with}}
</div>