<div class="md">{{#frost-tabs on-change=(action 'tabSelected') selection=selectedTab}}
	{{#frost-tab alias='Description' class='description' id='description'}}
		{{markdown-to-html ghCodeBlocks=true tables=true class="guide-markdown" markdown=(fr-markdown-file-strip-number-prefix 'ui-components/icons')}}
		{{#scroll-spy}}
		{{/scroll-spy}}
	{{/frost-tab}}
	{{#frost-tab alias='API' id='api'}}
		  {{markdown-to-html ghCodeBlocks=true tables=true class="guide-markdown" markdown=(fr-markdown-api-file 'ui-components/icons/README')}}
		{{#scroll-spy}}
			{{#scroll-to id="#emberfrosticons" class="h1"}} ember-frost-icons{{/scroll-to}}
			{{#scroll-to id="#api" class="h2"}} API{{/scroll-to}}
			{{#scroll-to id="#examples" class="h2"}} Examples{{/scroll-to}}
			{{#scroll-to id="#add" class="h3"}} Add{{/scroll-to}}
		{{/scroll-spy}}
	{{/frost-tab}}
	{{#frost-tab alias='Demo' id='demo'}}
		<div><div class="dummy-notification-container">
  {{#each notifications as |notification|}}
    {{notification-message notification=notification}}
  {{/each}}
</div>

<div class="dummy-body">
  <div class="dummy-content">
    <h2>frost-icon</h2>

{{format-markdown "```handlebars
{{frost-icon icon=<icon-name>}}
```"
}}

The &lt;icon-name&gt; above can be any of the names shown below, for instance:

{{format-markdown "```handlebars
{{frost-icon icon=\"frost/add\"}}
```"
}}

<div class="background-chooser {{ backgroundColor }}-selected">
  <h3>Background Color</h3>
  {{#each backgroundColors as |bgColor index| }}
    <button {{ action 'colorSelected' bgColor }} class="{{ bgColor }}"></button>
  {{/each}}
</div>

<div class="icon-demo">
{{#each entries as |entry|}}
  <div class="entry">
    <div class="title">
      {{format-markdown entry.markdown }}
    </div>
    <div class="content" class="{{ backgroundColor }}">
      {{frost-icon icon=entry.icon}}
    </div>
  </div>
{{/each}}
</div>

  </div>
</div></div>

	{{/frost-tab}}
{{/frost-tabs}}
	<div class='footer'>
		<div class='info'>
			<div>
				<div class='contributors'>
					<span class="footerHeading">Contributors</span><div class='contributors-list'>Roxanne Panthaky - Gosia Hyndman - Eric White - Steven Glanzer - ember-tomster</div>
			</div>
			<div class='connect'><div>
				<div class="footerHeading">Connect</div>
					 <div><a href="https://github.com/ciena-frost/ember-frost-core" class="gh-button"><img src="assets/images/gh-icon.png" width='20' height='20'><span>View on Github</span></a></div></div>
				</div>
			</div>
			<br/>
		</div>
		<div class='copyright'>
			
		</div>
	</div>
</div>