<div class="md">{{#frost-tabs on-change=(action 'tabSelected') selection=selectedTab}}
	{{#frost-tab alias='Description' class='description' id='description'}}
		{{markdown-to-html ghCodeBlocks=true tables=true class="guide-markdown" markdown=(fr-markdown-file-strip-number-prefix 'ui-components/input-controls/text')}}
	{{/frost-tab}}
	{{#frost-tab alias='API' id='api'}}
		  {{markdown-to-html ghCodeBlocks=true tables=true class="guide-markdown" markdown=(fr-markdown-api-file 'ui-components/input-controls/text/README')}}
	{{/frost-tab}}
	{{#frost-tab alias='Demo' id='demo'}}
		<div>{{outlet}}<div class="dummy-notification-container">
  {{#each notifications as |notification|}}
      {{notification-message notification=notification}}
  {{/each}}
</div>

<h2>frost-text</h2>

<div id="content">
  <div class="dummy-header">Basic</div>
  <div style="padding: 10px 20px;">
    {{frost-text
      autofocus=true
      placeholder='basic field'
    }}
  </div>

  <div class="dummy-header">Action</div>
  <div style="padding: 10px 20px;">
    {{frost-text
      on-input=(action "text")
    }}
  </div>

  <div class="dummy-header">Bound</div>
  <div style="padding: 10px 20px;">
    {{frost-text
      on-input=(action "bind")
      value=boundText
    }}
    <br>Bound Text: {{boundText}}<br>
    {{frost-text
      on-input=(action "bind2")
      value=boundText
    }}
  </div>

  <div class="dummy-header">Error</div>
  <div style="padding: 10px 20px;">
    {{frost-text
      classNameBindings="error"
    }}
    {{#frost-button
      class="small secondary"
      on-click=(action "toggleError")
    }}
      <div class="text">Toggle error</div>
    {{/frost-button}}
  </div>

  <div class="dummy-header">Attributes - e.g. Disabled</div>
  <div style="padding: 10px 20px;">
    {{frost-text
      disabled=true
    }}
  </div>

  <div class="dummy-header">Attributes - e.g. Read-only</div>
  <div style="padding: 10px 20px;">
    {{frost-text
      readonly=true
      value="Read only text"
    }}
  </div>
</div>
</div>

	{{/frost-tab}}
{{/frost-tabs}}
	<div class='footer'>
		<div class='info'>
			<div>
				<div class='contributors'>
					<span class="footerHeading">Contributors</span>Roxanne - Gosia Hyndman - Adam Meadows - Matthew Dahl - Matthew Dahl - Justin Lafleur - Roxanne - Gosia Hyndman - Steven Glanzer - Eric White - Adam Meadows
			</div>
			<div class='connect'>
				<span class="footerHeading">Connect</span>
					 <a href="https://github.com/ciena-frost/ember-frost-text" class="gh-button"><img src="assets/images/gh-icon.png" width='20' height='20'><span>View on Github</span></a> 
				</div>
			</div>
			<br/>
		</div>
		<div class='copyright'>
			
		</div>
	</div>
</div>