{{#frost-button class='category' priority='cancel' classNameBindings='isExpanded:expanded' onClick=(action 'toggleExpanded')}}
  {{category.alias}}
{{/frost-button}}
{{#liquid-if isExpanded}}
  <div class='sub-category-items'>
    {{#each category.items as |item|}}
      {{#if (eq item.type 'category')}}
        {{frost-navigation-sidebar-category category=item}}
      {{else if (eq item.type 'route')}}
        {{#if (eq item.alias 'Contributor')}}
        {{else}}
          <span {{action "toggleCollapsed"}}>
            {{#frost-link item.route class='route'}}
              {{item.alias}}
            {{/frost-link}}
          </span>
        {{/if}}
      {{else if (eq item.type 'divider')}}
        <div class="divider"></div>
      {{/if}}
    {{/each}}
  </div>
{{/liquid-if}}
